@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.buttonsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 24);
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  height: 5rem;

  .topButton {
    margin-inline: 1.25rem;
    font-family: "Poppins";
    font-weight: 400;
    border-radius: 4px;
    border: none;
    /*activate on click maybe*/
    /*border: solid 1px rgb(49, 49, 49);*/
    background-color: rgb(24, 24, 24);
    height: 2.75rem;
    color: #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: rgb(49, 49, 49);
      cursor: pointer;
      & span {
        color: #bbbbbb;
      }
    }
    svg {
      margin-inline: 0.25rem;
    }
    span {
      padding-block: 0.75rem;
      margin-inline: 0.5rem;
      font-size: 1rem;
    }
  }

  .filterButton {
    flex: 1;
    height: 2.75rem;
    margin-left: 1rem;
    background-color: rgb(24, 24, 24);
    border: solid 1px rgb(49, 49, 49);
    color: grey;
    padding: 0.75rem;
    border-radius: 0.25rem;
    /* display: none;*/
    &:hover {
      cursor: pointer;
      background-color: rgb(50, 50, 50);
      color: rgb(200, 200, 200);
    }
  }

  .optionButton {
    flex: 1;
    height: 2.75rem;
    margin-left: 1rem;
    background-color: rgb(24, 24, 24);
    border: solid 1px rgb(49, 49, 49);
    color: grey;
    padding: 0.75rem;
    border-radius: 0.25rem;
    /* display: none;*/
    &:hover {
      cursor: pointer;
      background-color: rgb(50, 50, 50);
      color: rgb(200, 200, 200);
    }
  }
}
