@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

header.Header {
  background-color: rgb(33, 34, 44);
  height: 7rem;
  padding-inline: 1.5rem;
  nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      text-decoration: none;

      div {
        height: 2rem;
        h1 {
          color: #23ffa4;
          font-family: "Mansalva", serif;
          font-size: 3.5rem;
          transform: translateY(-16px);
          margin-left: 1rem;
        }
        img {
          height: 100%;
          margin-right: 1rem;
          filter: brightness(0) saturate(100%) invert(62%) sepia(0%)
            saturate(259%) hue-rotate(179deg) brightness(83%) contrast(87%);
          &.selected {
            filter: brightness(0) saturate(100%) invert(89%) sepia(47%)
              saturate(822%) hue-rotate(74deg) brightness(105%) contrast(100%);
          }
        }
      }
      &:first-child {
        margin-right: auto;
      }
    }
  }
}
